body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image: url('./assets/images/sunset.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    width: 100vw;
      height: auto;
      min-height: 100vh;
    /* background-image: url('./assets/images/sunset.jpg') no-repeat center center/cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}







