$myColor: white;
body {
  color: $myColor !important;
  text-align: center !important;
}

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100vw;
  height: 100vh;

  &:before {
    content: "";
    background-image: url("./assets/images/sunset.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .search {
    text-align: center;
    padding: 1rem;
  }

  .top {
    width: 100%;
    margin: 1rem auto;
  }

  .bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: red;
  }
}
.bold {
  font-weight: 700;
}
.container2 {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-weather-now {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50%;
  height: auto;
}
.total-box {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  .first-line {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.current-temp {
  font-size: 90px !important;
}
.temp-sign {
  font-size: 20px;
}
.box-current-temp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6vh;
  margin-bottom: -3vh;
}
.low-high {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 13px !important;
}

.description {
  position: relative;
  font-size: 16px !important;
  margin-left: 20px !important;
  margin-top: 17px;
}
.second-row {
  margin-top: -40px;
}
.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.daily-weather {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-daily {
  display: flex;
  margin: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
}

input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(225, 225, 225, 0.7);
  background-color: rgba(225, 225, 225, 0.1);
  color: #f8f8f8;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  &::placeholder {
    color: #f8f8f8;
  }
  &::focus {
    border: none;
    outline: none;
  }
}
